<form action="/saveproduct" method="post">
Product Id<input type="text" name="id">
Product Name<input type="text" name="name">
Product Price<input type="text" name="price">
<input type="Submit">
</form>